---
import NavMain from "../components/NavMain.astro";
import Layout from "../layouts/Layout.astro";
import HomePlaylist from "../components/HomePlaylist.astro";
import ExpandPlaylist from "../components/ExpandPlaylist.astro";
import { playlists } from "../lib/data";
---


<Layout title="Spotify">
  <div class="bg-gradient-to-b from-[#093526] to-[#121212]">
    <NavMain />

    <div class="px-6 pt-4 gap-6 flex flex-col">
      <div>
        <ul class="grid grid-cols-4 gap-2">
         
          {playlists.map((playlist) => <HomePlaylist playlist={playlist} />)}
        </ul>
      </div>
    </div>
    <div class="p-3 pt-8">
      <h2 class="pl-2 text-2xl font-bold">Made For Julianrexmod</h2>
      <div class="grid grid-cols-5 gap-2">
        {playlists.map((playlist) => <ExpandPlaylist playlist={playlist} />)}
      </div>
    </div>
  </div>
</Layout>
