---

---

<div class="sticky top-0 w-full z-30 bg-[#18181B] px-6">
  <header class="flex flex-row items-center justify-between py-4">
    <div class="flex gap-2">
      <button class="bg-[#050505e5] rounded-full p-2">
        <svg
          data-encore-id="icon"
          role="img"
          aria-hidden="true"
          width="16"
          height="16"
          fill="white"
          ><path
            d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"
          ></path></svg
        >
      </button>
      <button class="bg-[#0505058e] rounded-full p-2">
        <svg
          data-encore-id="icon"
          role="img"
          aria-hidden="true"
          width="16"
          height="16"
          fill="white"
          ><path
            d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"
          ></path></svg
        >
      </button>

      <input
        type="text"
        placeholder="Search"
        class="bg-[#080808bb] rounded-full px-4 py-2 text-sm font-medium text-white"
      />
    </div>

    <div class="flex items-center gap-2">
      <button
        class="bg-[#080808bb] rounded-full py-[6px] px-4 font-medium text-sm"
      >
        <div class="flex gap-1 items-center">
          <svg
            data-encore-id="icon"
            role="img"
            aria-hidden="true"
            width="16"
            height="16"
            fill="white"
            class="flex justify-center items-center"
            ><path
              d="M4.995 8.745a.75.75 0 0 1 1.06 0L7.25 9.939V4a.75.75 0 0 1 1.5 0v5.94l1.195-1.195a.75.75 0 1 1 1.06 1.06L8 12.811l-.528-.528a.945.945 0 0 1-.005-.005L4.995 9.805a.75.75 0 0 1 0-1.06z"
            ></path><path
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13z"
            ></path></svg
          >
          <span class="text-white font-medium text-sm flex justify-center"
            >Install App</span
          >
        </div>
      </button>
      <button class="bg-[#080808bb] rounded-full p-2">
        <svg
          data-encore-id="icon"
          role="img"
          aria-hidden="true"
          width="16"
          height="16"
          fill="white"
          ><path
            d="M8 1.5a4 4 0 0 0-4 4v3.27a.75.75 0 0 1-.1.373L2.255 12h11.49L12.1 9.142a.75.75 0 0 1-.1-.374V5.5a4 4 0 0 0-4-4zm-5.5 4a5.5 5.5 0 0 1 11 0v3.067l2.193 3.809a.75.75 0 0 1-.65 1.124H10.5a2.5 2.5 0 0 1-5 0H.957a.75.75 0 0 1-.65-1.124L2.5 8.569V5.5zm4.5 8a1 1 0 1 0 2 0H7z"
          ></path></svg
        >
      </button>
      <button class="bg-[#080808bb] rounded-full px-3 py-1 text-white">
        J
      </button>
    </div>
  </header>
</div>
