---
interface Props {
  style?: string;
  title?: string;
  src?: string;
}

const { style, title, src } = Astro.props;
---

<div class="w-[185px] h-[185px] rounded-xl relative overflow-hidden" style={style}>
  <p class="text-white p-4 text-2xl font-medium">{title}</p>

  <picture class="absolute -bottom-[5px] -right-[16px] rotate-[25deg]">
    <img
      aria-hidden="false"
      draggable="false"
      loading="lazy"
      src={src}
      alt=""
      width="100px"
      height="100px"
      class="shadow-lg"
    />
  </picture>
</div>
